*{
    margin: 0;
}

body{
    background-color: cadetblue;

}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color:cadetblue;
}
main{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 100px;
    border-radius: 90px;
}
.navlinks{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  color:white;
  background-color: rgb(220, 140, 74);
  font-size: 16px;
  border-radius: 90px;
  padding: 12px 24px;
  text-wrap: nowrap;
 
}


.navlink{
 text-decoration: none;
}

.hero{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    height: 80vh;
    align-items: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 640px;
    gap: 12px;
}
.btn-primary{
    text-decoration: none;
    color: white;
    background-color: #e9a654;
    font-size: 16px;
    text-wrap: nowrap;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 99px;
    /* box-shadow: 0 0 30px #00640038; */
   

}
.container{
    padding: 60px 0;
    max-width: 800px;

}
.presentation{
    display: flex;
    gap: 40px;
    justify-content: center;
    .presentation-content{
    }
    img{
    width: 50%;}
}

.services-card-wrapper{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    p{
        background-color: #522b0f;
        width: 141px;
        text-align: center;
        align-content: center;
        padding: 6px;
        border-radius: 4px;
        box-shadow: 0 0 20px #2cb4891c;
       color: rgb(162, 178, 173);

    }
}



 .dernier { 
  display: flex;
  gap: 100px;
  justify-content: space-between;
  padding: 60px 0;
  /* background-color: #187c80; */
  gap: 56px;
  margin: 1px;
  padding: 94px 0;
  max-width: 849px;
  
  }
.mes-rs{

    width: 40px;
} 
#nn{
   display: flex;
   flex-direction: column;
   align-items: center;
  
}












/* @media screen and (min-width: 900px) {
    article {
      display: flex;
    } */




 

  
      
