*{
    margin: 0; 
    margin: 4px;
    padding: revert;
} 

body{
    /* background-color: #65a05f; */
    background: rgb(28,178,33);
    background: linear-gradient(90deg, rgba(28,178,33,0.09771241260175945) 0%, rgba(62,106,71,1) 0%, rgba(108,121,80,0.9100373425737482) 64%);

}

h1{ 
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
    
    

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color:rgb(14, 18, 18);
  position: fixed; /*pour que ça ne bouge pas  */
  width: 100%;
  padding: 0;
  margin: 0;
}
main{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.logo{
    width: 10%;
    
}
.navlinks{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  color:white;
  background-color: rgb(15, 15, 13);
  font-size: 16px;
  border-radius: 90px;
  padding: 12px 24px;
  text-wrap: nowrap;
 
}


.navlink{
 text-decoration: none;
 color: #6a713c;
}

.hero{
    display: flex;
    justify-content: center;
    /* background-color: #65a05f; */
    height: 80vh;
    align-items: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 640px;
    gap: 12px;
}
.btn-primary{
    text-decoration: none;
    color: #c6b47e;
    background-color: #427741;
    font-size: 16px;
    text-wrap: nowrap;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 99px;
    /* box-shadow: 0 0 30px #00640038; */
   

}
.container{
    padding: 60px 0;
    max-width: 800px;

}
.presentation{
    display: flex;
    gap: 40px;
    justify-content: center;
    .presentation-content{
    }
   img{
    width: 50%;}
}

.services-card-wrapper{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    p{
        background-color: #527947;
        width: 141px;
        text-align: center;
        align-content: center;
        padding: 6px;
        border-radius: 4px;
        box-shadow: 0 0 20px #2cb4891c;
       color: rgb(162, 178, 173);

    }
}



 .dernier { 
  display: flex;
  gap: 100px;
  justify-content: space-between;
  /* padding: 60px 0; */
  margin: -46px;
  padding: 129px 0;
  /* background-color: #187c80; */
  gap: 56px;
  /* margin: 1px; */
  padding: 94px 0;
  max-width: 90%;
  /* background: rgb(28,178,33);
  background: linear-gradient(90deg, rgba(28,178,33,0.09771241260175945) 0%, rgba(62,106,71,1) 0%, rgba(108,121,80,0.9100373425737482) 64%); */
  


  background: linear-gradient(90deg, rgba(28,178,33,0.09771241260175945) 0%, rgb(106, 97, 62) 0%, rgb(23, 70, 39) 64%);
  /* padding-left: 40px;
  padding-right: 40px; */
  display: flex;
  align-items: center;
  padding-left: 93px;
  padding-right: 114px;


 
}
.mes-rs{

    width: 40px;
} 
#nn{
   display: flex;
   flex-direction: column;
   align-items: center;
  
}










/* @media screen and (min-width: 900px) {
    article {
      display: flex;
    } */


html{
    scroll-behavior: smooth;
}

 

  
      
